<body class="hold-transition login-page">
  <style>
    body{ background: #222; background-image:
    url('https://source.unsplash.com/1600x900/?landscape'); background-repeat:
    no-repeat; background-size: cover; background-position: center center; }
    .login_form_main{ background: #000000d0; width: 100%; } input{ background:
    transparent !important; } input#file-upload-button{ border-radius: 0;
    background: transparent; color: #fff }
  </style>
  <div class="row justify-content-center">
    <div class="col-md-6 col-10">
      {{#if newAdmin}}
        <div class="form__login d-flex flex-column align-center">
          {{#if registerError}}
            <p class="errorAlert">{{registerError}}</p>
          {{/if}}
          <div class="login-box login_form_main">
            <div class="card card-outline">
              <div
                class="text-center"
                style="background-color: transparent; margin-top: 15px;"
              >
                <a href="https://changeit.uz/" class="h1">
                  <img src="https://changeit.uz/images/logo.png" alt="png" />
                </a>
              </div>
              <div class="card-body">
                <p class="login-box-msg" style="color: #ccc">Регистрация</p>
                <form
                  action="/auth/register"
                  method="post"
                  class="d-flex flex-column align-items-center"
                  enctype="multipart/form-data"
                >
                  <div class="input-group mb-3" style="width: 80%">
                    <input
                      type="email"
                      class="form-control"
                      style="color: #f9f9f9;background: transparent !important; border-radius:0"
                      name="email"
                      placeholder="эл.почта"
                    />
                    <div class="input-group-append">
                      <div
                        class="input-group-text"
                        style="border-radius: 0; background: transparent; color: #fff"
                      >
                        <span class="fal fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="width: 80%">
                    <input
                      type="text"
                      class="form-control"
                      style="color: #f9f9f9;background: transparent !important; border-radius:0"
                      name="name"
                      placeholder="Полное имя"
                    />
                    <div class="input-group-append">
                      <div
                        class="input-group-text"
                        style="border-radius: 0; background: transparent; color: #fff"
                      >
                        <span class="fal fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="width: 80%">
                    <input
                      type="password"
                      class="form-control"
                      style="color: #f9f9f9;background: transparent !important; border-radius:0"
                      name="password"
                      placeholder="Пароль"
                    />
                    <div class="input-group-append">
                      <div
                        class="input-group-text"
                        style="border-radius: 0; background: transparent;  color: #fff"
                      >
                        <span class="fal fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="width: 80%">
                    <input
                      type="password"
                      class="form-control"
                      style="color: #f9f9f9;background: transparent !important; border-radius:0"
                      name="confirm"
                      placeholder="Потвердите пароль"
                    />
                    <div class="input-group-append">
                      <div
                        class="input-group-text"
                        style="border-radius: 0; background: transparent;  color: #fff"
                      >
                        <span class="fal fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-3" style="width: 80%">
                    <div class="custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="avatar"
                        style="width: 100%;"
                        name="avatar"
                      />
                      <label
                        class="custom-file-label"
                        id="file_label_s"
                        for="avatar"
                        style="background: transparent; border-radius: 0;"
                      >Аватар</label>
                    </div>
                  </div>
                  <p style="color: #fff;">Status: <strong>Admin</strong></p>
                  <input type="hidden" name="status" value="Admin" />
                  <div class="login__button d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn-primary"
                      style="padding: 10px 20px; height: unset; margin: 0; margin-bottom: 10px; border-radius: 0; border: 1px solid #fff; background: transparent;"
                    >Зарегистрировация</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</body>