<div class="row justify-content-center">
  <div class="col-sm-8 col-md-6 justify-content-start align-items-center">
    <div class="card card-primary1">
      <form
        action="/lesson/edit/{{lesson.id}}"
        method="POST"
      >
        <div class="card-header addlesson">
          <h3 class="card-title">Урок</h3>
        </div>
        <div class="card-body mainpage">
          <div class="form-group form123">
            <label class="library-title choose" for="name">Название</label>
            <input
              type="text"
              class="form-control inp1"
              id="name"
              name="name"
              value="{{lesson.name}}"
              required
            />
          </div>
          <div class="form-group form123">
            <label for="url">Ссылка ролика</label>
            <input
              type="text"
              class="form-control inp1"
              id="url"
              name="url"
              value="{{lesson.url}}"
              required
            />
          </div>
        </div>
        <div class="card-footer submit">
          <input type="hidden" name="libraryId" value="{{lesson.libraryId}}" />
          <button type="submit" class="buttonSubmit">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</div>