.card-header.addlesson {
    background: #787a91 !important;
    border-radius: 0;
}
.library-title.choose {
    font-weight: 500;
    color: #646464;
}
.buttonSubmit {
    background: #787a91 !important;
    opacity: 0.9;
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 15px #ccc;
    color: #fff;
    text-transform: uppercase;
    width: 120px;
    height: 35px;
}
.card-footer.submit {
    background: transparent;
}
.card.card-primary1 {
    border-radius: 0;
    background: #f9f9f9;
    box-shadow: 0 0px 15px #ccc;
}

.form-control.inp1 {
    background: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 7px #e2e2e2;
    color: #646464;
}

.card-title.right1 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    font-size: 20px;
    right: 10px;
    color: #787a91;
    bottom: 15px;
    width: 30px;
    height: 30px;
}

.card-title.left1 {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    font-size: 20px;
    left: 10px;
    color: #787a91;
    bottom: 15px;
    width: 30px;
    height: 30px;
}

.card.editiconpage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 7px #e2e2e2;

}

.vidios {
    width: 100%;
}

.custom-file-label.inp1 {
    background: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0 0px 7px #e2e2e2;
    color: #646464;
}

.custom-file-label.inp1::after {
    height: 100%;
    border-radius: 0;
    background: #787a91;
    color: #fff;
    box-shadow: 0 0 10px #ccc;
}

.card-header.addlesson {
    padding-bottom: 30px;
}

/* library */
@media (max-width: 1320px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .card-title.libraryhref {
        text-transform: uppercase;
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .card-title.libraryhref {
        padding: 5px 25px !important;
    }

    .card-body.mainpage {
        padding: 1rem;
    }

    .buttonSubmit {
        width: 100px;
        height: 30px;
    }

    .asd1233213 {
        margin-top: 1rem !important;
    }

    .content-wrapper.asd123 {
        min-height: 430px !important;
    }
}

@media (max-width: 576px) {
    .form-group.form123 {
        padding: 0.5rem;
        margin-bottom: 0;
    }

    .card.card-primary1 {
        box-shadow: 0 0 7px #ccc;
    }

    .card-body.mainpage {
        padding: 0.5rem;
    }

    .asd1233213 {
        margin-top: 0 !important;
    }

    .card-body.bodyes {
        padding: 1rem;
    }

    .content-wrapper.asd123 {
        min-height: 400px !important;
    }

}

@media (max-width: 575px) {
    .card-title.addlesson {
        text-transform: uppercase;
        font-size: 15px;
        padding: 1rem;
    }

    .content-wrapper.asd123 {
        min-height: 400px !important;
    }
}