<div class="content addLidModal">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div
          class="card card-primary"
          style="border: none; border-radius: 0; background-color: #f9f9f9; box-shadow: 0 0 15px #ccc;"
        >
          <form action="/lids/lidCategory/add" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label style="color: #646464;" for="name">Названия категория</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  placeholder="Category name"
                  name="name"
                />
              </div>
            </div>
            <div class="card-footer" style="background-color: #f9f9f9;">
              <button
                type="submit"
                style="background: #646464; color: #fff"
                class="btn createBtn"
              >Создать</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>